.chips{
    text-align: center;
    width: 100%;
    height:fit-content;
    padding: 10px;
    background: chartreuse;
    border-radius: 25px;
    max-lines: 1;
    margin-top: 2px;
    color: rgb(177, 177, 177);
    font-size: smaller;
}

.chips + .chips{
   margin-left: 5px;
}
