.ChipsHolder{
    text-align: center;
    padding:40px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    max-width: 200px;
    max-height:fit-content;
    text-overflow: ellipsis;
}
@media(max-width:300px){
    .ChipsHolder{
        flex-direction: column;
    }
}