.porfolio__main__holder{
   position: relative;
   padding: 4em;
}
.portfolio{
   margin-top: 2em;
}
.portfolio h2{
   color:var(--primary-color);
   text-align: center;
   font-size: xx-large;
}

.portfolio h2 span{
   color:var(--primary-dark);
}
.portfolio__content__holder {
   display: flex;
   flex-direction: row;
   font-size: 1.5em;
   margin-top: 2em;
   height: 100%;
   max-height: fit-content;
 }
 
.portfolio__img{
   padding: 10px;
   flex: 50%;
   width: 200px;
   height: 200px;
   max-width: 10em;
   max-height: 10em;
   min-width: 70px;
   min-height: 70px;
   border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
   margin: 20px;
   border: solid 2px white;
  

}
.portfolio__description__holder{
   flex: 50%;
   max-height: fit-content;
   display: flex;
   justify-content: center;
   align-items: center;
}
.portfolio__content{
   color: var(--secondary-color);
   margin: 20px;
   max-width: 500px;
   text-align: center;
   direction: ltr;
   vertical-align: middle;
   padding: 10px;
 
}

.portfolio__content span{
   color: var(--primary-dark);
}

.portfolio__btn__left{
   margin-right: 1em;
   position: relative;
   background-color: transparent;
   color: var(--secondary-color);
   top: 50%;
   margin-right: 2em;
   width: 74px;
   height: 74px;
   left: 0;
   border: solid 2px green;
   border-radius:50%;
   float: left;
}

.portfolio__btn__right{
   margin-left: 1em;
   position: relative;
   background-color: transparent;
   color: var(--secondary-color);
   top: 50%;
   right: 0;
   width: 74px;
   height: 74px;
   max-width: 74px;
   max-height: 74px;
   border: solid 2px green;
   border-radius:50%;
   float: right;
}


@media(max-width :600px){
   .portfolio__content__holder{
      font-size:calc(100%  + 5px);
   }
   .portfolio__content__holder{
     flex-direction: column;
     justify-content: center;
   }
   
}




@keyframes slidein {
   from {
      margin-left: 100%;
      width: 300%;
   }
 
   to {
      margin-left: 0%;
      width: 100%;
   }
 } 


 /* --- */

.container {
   position: relative;
   width: 100%;
   height: 100%; 
   background-color: transparent;
   max-width: fit-content;
   max-height: fit-content;

 }
 .container:hover .delay1 {
   -webkit-animation: waves 2.5s linear;
           animation: waves 2.5s linear;
   -webkit-animation-delay: 0.1s;
           animation-delay: 0.1s;
 }
 .container:hover .delay2 {
   -webkit-animation: waves 2.5s linear 0.7s forwards;
           animation: waves 2.5s linear 0.7s forwards;
 }
 .container:hover .delay3 {
   -webkit-animation: waves 2.5s linear 1.3s forwards;
           animation: waves 2.5s linear 1.3s forwards;
 }
 .container:hover .delay4 {
   -webkit-animation: waves 2.5s linear 1.9s forwards;
           animation: waves 2.5s infinite 1.9s forwards;
 }
 
 .container:hover {
   -webkit-animation: bloop 1s linear;
           animation: bloop 1s linear;
 }

 .circle {
   border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;   
   border: solid 2px white;
   display: block;
   height: 200px;
   width: 200px;
   border-radius: 50%;
   background: var(--primary-color);
   transition: 5s ease;
   position: absolute;
   left: 0;
   top: 0;
   /* background: transparent; */
   z-index: -10;
   max-width: 10em;
   max-height: 10em;
   min-width: 70px;
   min-height: 70px;
   border-radius:50%;
   margin: 20px;
   flex: 50%;
 }
 @media(max-width :800px){
   .circle {
      max-width: 8em;
      max-height: 8em;
      background-color: transparent;
      border: 0 solid transparent ;
    }
 }
 @media(max-width :600px){
   .portfolio__content__holder{
      font-size:0.8em;
   }
   .circle {
      max-width: 8em;
      max-height: 8em;
      background-color: transparent;
      border: 0 solid transparent ;
    }
    .portfolio__btn__right{
       width: 48px;
       height: 48px;
    }
    .portfolio__btn__left{
      width: 48px;
      height: 48px;
   }
   .portfolio__content__holder {
      font-size: 1rem;
      direction: rtl;
   }
}
 
 @-webkit-keyframes waves {
   0% {
     transform: scale(1);
     opacity: 1;
   }
   100% {
     transform: scale(4);
     opacity: 0;
   }
 }
 @-webkit-keyframes bloop {
   0% {
     transform: scale3d(1, 1, 1);
   }
   30% {
     transform: scale3d(1.25, 0.75, 1);
   }
   40% {
     transform: scale3d(0.75, 1.25, 1);
   }
   50% {
     transform: scale3d(1.15, 0.85, 1);
   }
   65% {
     transform: scale3d(0.95, 1.05, 1);
   }
   75% {
     transform: scale3d(1.05, 0.95, 1);
   }
   100% {
     transform: scale3d(1, 1, 1);
   }
 }
 @keyframes bloop {
   0% {
     transform: scale3d(1, 1, 1);
   }
   30% {
     transform: scale3d(1.25, 0.75, 1);
   }
   40% {
     transform: scale3d(0.75, 1.25, 1);
   }
   50% {
     transform: scale3d(1.15, 0.85, 1);
   }
   65% {
     transform: scale3d(0.95, 1.05, 1);
   }
   75% {
     transform: scale3d(1.05, 0.95, 1);
   }
   100% {
     transform: scale3d(1, 1, 1);
   }
 }