body {
  background-color: var(--bg-color);
}
.nav{
  height:12em;
}

.btn {
  position: relative;
  display: block;
  padding: 15px 30px;
  color: var(--primary-color);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2rem;
  overflow: hidden;
  transition: 0.2s;
  

}

.btn:hover {
  color: var(--secondary-color);
  background: var(--primary-color);
  box-shadow:
      0 0 20px var(--primary-color),
      0 0 80px var(--primary-color),
      0 0 160px var(--primary-color),
      0 0 320px var(--primary-color);
  transition-delay: 1s;
}

.btn span {
  position: absolute;
  display: block;
}

.btn span:nth-child(1) {
  top: 0;
  transform: translateX(-115%);
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, transparent, var(--primary-color));
}

.btn:hover span:nth-child(1) {
  transform: translateX(100%);
  transition: 1s;
}

.btn span:nth-child(3) {
  bottom: 0;
  transform: translateX(100%);
  width: 100%;
  height: 4px;
  background: linear-gradient(270deg, transparent, var(--primary-color));
}

.btn:hover span:nth-child(3) {
  transform: translateX(-115%);
  transition: 1s 0.5s;
}

.btn span:nth-child(2) {
  right: 0;
  transform: translateY(-130%);
  width: 4px;
  height: 100%;
  background: linear-gradient(180deg, transparent, var(--primary-color));
}

.btn:hover span:nth-child(2) {
  transform: translateX(100%);
  transition: 1s 0.25s;
}

.btn span:nth-child(4) {
  left: 0;
  transform: translateY(100%);
  width: 4px;
  height: 100%;
  background: linear-gradient(270deg, transparent, var(--primary-color));
}

.btn:hover span:nth-child(4) {
  transform: translateX(-130%);
  transition: 1s 0.75s;
}



.css-typing a {
  border-right: .15em solid var(--primary-color);
  white-space: nowrap;
  overflow: hidden;
}
.css-typing a:nth-child(1) {
  width: 10em;
  -webkit-animation: type 2s steps(40, end);
  animation: type 2s steps(40, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing a:nth-child(2) {
  width:10em;
  opacity: 0;
  -webkit-animation: type2 2s steps(40, end);
  animation: type2 2s steps(40, end);
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing a:nth-child(3) {
  width: 10em;
  opacity: 0;
  -webkit-animation: type3 5s steps(20, end), blink .5s step-end infinite alternate;
  animation: type3 5s steps(20, end), blink .5s step-end infinite alternate;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid  var(--primary-color);
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid  var(--primary-color);
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid  var(--primary-color);
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid  var(--primary-color);
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: tranparent;
  }
}

.link-holder-right{
  float: right;
  margin: 42px;
}
.link-holder-left{
  float: left;
  margin: 42px;
}


@media (max-width: 800px) {
  .nav{
    height:3em;
  
 }
 .btn{
   font-size: x-large;
 }
}
@media (max-width: 600px) {
  .nav{
    height:12em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
   
    align-items: center;
 }
 .btn{
  font-size:small;
  padding: 15px 15px;

}

.link-holder-right{
  float: none;
  margin: 22px;
}
.link-holder-left{
  float: none;
  margin: 22px;
}


}

