
:root {
    --bg-color: #000000;
    --primary-color: #21f34b;
    --secondary-color: #258425;
    --special-color:#50bb8f;
    --primary-dark:#1d241e;
  }

  @font-face {
    font-family:vazir;
    src: url(../fonts/vazir-font-v16.1.0/Vazir-Light.woff);
  }
 
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:  vazir;
  }

 
body {
    background-color: black;
    width: 100%;
    padding: 5px;
}
.index{ 
    border-color:var(--secondary-color) ; 
    border-style:solid ;
    
}
