.connect__holder{
  margin-top: 20px;
}

.connect__holder h2 {
   color: var(--primary-color);
   text-align: center;
   font-size: large;
   margin-top: 20px;
}
.connect__holder h2 span{
   color: var(--primary-dark);
}
.social__media__holder{
margin:  0.1em auto;
  width: 100%;
 display: flex;
 position: relative;
 height: 400px;
 max-width: 800px;
 padding-bottom: 10em;
}
.social__media__item{
   position: relative;
   top: 20px;
   color:var(--special-color);
   border: 1px solid var(--special-color);;
   border-radius: 50%;
   width: 100px;
   height:100px;
   min-width: 100px;
   text-align: center;
   justify-content: center;
   margin: auto ;
   transition: background-color 5s ease;
}
.social__media__item div{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100px;
}  
.social__media__item :hover{
   background-color: var(--primary-color);
   color: var(--primary-dark);
   border-radius: 50%;
   }

.social__media__item   div a{
   text-decoration: none;
   display: block;
   cursor: default;
   color: white;
}

.social__one{
  scale: 1.5;
  top: .5em;
  text-decoration: none;
}

.social__two{
   scale: 1;
   top: 3em;
   text-decoration: none;
 }

 .social__three{
   scale: 1.2;
   top: -0.5em;
   text-decoration: none;
 }

 .social__four{
   scale: 2;
   top: 4em;
   text-decoration: none;
 }
 

.social__five{
   scale: 1.2;
   top: -1em;
   text-decoration: none;
 }
 
@media (max-width:600px) {
   .social__media__holder{
    flex-direction: column;
    height: 800px;
      }
      .social__media__item{
         top: 0;
         margin-top: auto;
           }
           .social__media__item:nth-child(odd){
            margin-right: 2em;
              }
              .social__media__item:nth-child(even){
               margin-left: 2em;
                 }
}
